# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
.git-hooks/
.direnv
old/
TODO.txt
playground.txt
attic/
.vscode/
.idea/
.git-hooks/
env
.env
env.src
env-adm.src
conf/id_rsa
conf/osh
.openshift*
*.deb
**/*.kubeconfig
output.txt 
instance.json
ip.txt
_ip
.latestcheck
tests/*.err
_*
conf/gcp
conf/aws
kubeconfig
env-github
.env*
runtimes.json
.secrets
venv
**/stress-test/*-ingress*

